body {
  font-family: "Comic Relief", sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  position: relative;
}

.board {
  width: 60%;
  margin: 10rem auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  position: relative;
  font-size: 1.5vw; /* Add this to scale text inside the board */
  padding: 4rem;
  border: 0.625rem solid #00ccff;
  border-radius: 2rem;
  background-color: white;
  box-shadow: #72d8f1 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media (max-width: 991px) {
  .board {
    width: 90%;
  }
}

.title {
  color: red;
  font-size: 3rem;
  text-shadow: 2px 2px white;
  margin-bottom: 1.5rem;
}

.book-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 1.5em; /* Now relative to .board */
  gap: 1.5rem 3rem;
}

.book-section {
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.back-btn {
  transition: transform 0.2s;
}

.book-section:hover,
.back-btn:hover {
  transform: scale(1.1);
}

.back-btn {
  position: absolute;
  left: 10rem;
  bottom: -10rem;
}

.back-btn img {
  width: 7rem;
}

/* Small screen adjustments */
@media (max-width: 1024px) {
  .background {
    height: auto;
  }

  .board {
    font-size: 3vw;
    height: auto;
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 40rem;
  }

  .title {
    font-size: 6rem;
    margin-bottom: 4rem;
  }

  .back-btn {
    left: 1rem;
    bottom: -12rem;
  }

  .back-btn img {
    width: 10rem;
  }
}
